footer.jr-footer
    .container
        .row
            .col-xs-12
                jr-trust
        .row
            .col-xs-12
                .transfer
                    div {{::vm.footerData.transferServices.title}}:
                        nav
                            a.link(ng-href="{{::item.link}}" ng-repeat="item in ::vm.footerData.transferServices.list") {{::item.label}}
                    div {{::vm.footerData.transferConnections.title}}:
                        nav
                            a.link(ng-href="{{::item.link}}" ng-repeat="item in ::vm.footerData.transferConnections.list") {{::item.label}}

        .row
            .col-xs-12
                .links.pull-right
                    .links--group(ng-repeat="group in ::vm.footerData.links")
                        h6.title {{::group.title}}
                        nav
                            a.link(ng-repeat="item in ::group.items" ng-href="{{::item.link}}") {{::item.label}}
        .row
            .col-xs-12
                .text-center [{{::vm.env}}] v#{version}