.jr-footer
  //background-color $gray
  background-color #E1E1E1

  .transfer
    color #333
    font-size small
    margin 20px 0
    padding 15px 0
    border-top: 1px solid #b7b7b7
    border-bottom: 1px solid #b7b7b7
    text-align right
    
  .link
    color black
    padding 0 3px
    text-decoration underline
    display inline-block

  .links
    font-size small
    margin-bottom 40px

    &--group
      float left
      padding-left 10px

      .link
        padding-bottom 5px
        display block
