article.jr-login

    .row
        .col-xs-12
            h1 Access your agent booking portal
            p You can make bookings on Jayride as a Travel Agent. Login below to access your agent booking portal.


    .row(ng-if="!vm.isAuthenticated")
        .col-xs-12 
            button.btn.btn-lg.btn-jr.btn-block(ng-click="vm.showLogin()") Sign in
    .row(ng-if="vm.isAuthenticated")
        .col-xs-12 
            button.btn.btn-lg.btn-jr.btn-block(ng-click="vm.logout()") Sign out

    //TODO: just for testing auth requests
    p
    .well
        .row(ng-if="vm.isAuthenticated")
            .col-xs-12.text-center
                button.btn.btn-lg(ng-click="vm.testRequest()") Send Request


    //.row
        .col-xs-12
            .well
                form.form-signin
                    h2.form-signin-heading Agent Login

                    .form-group
                        label.sr-only(for='inputEmail') Email address
                        input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='')

                    .form-group
                        label.sr-only(for='inputPassword') Password
                        input#inputPassword.form-control(type='password', placeholder='Password', required='')

                    .form-group
                        button.btn.btn-lg.btn-jr.btn-block(type='submit') Sign in

    .row
        .col-xs-12
            h3 Don't have an account?
            p You can earn extra commission selling transfers on Jayride. To find out more and get an account with Jayride, please Contact Us below.