doctype html
html(lang="en" ng-cloak ng-app="jr-app")
   head
      meta(charset="UTF-8")
      title jr spa
      meta(name="description" content="")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

      base(href="/")

      link(rel="shortcut icon" href="/favicon.ico")

      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css")
      link(rel="stylesheet" href="css/jr-app.css")
   body

      div(ui-view)

      <!-- authentication plugin -->
      script(src="//cdn.auth0.com/js/lock-9.2.1.min.js")

      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js")

      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/typeahead.bundle.min.js")

      script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-cookies.js")


      script(type="text/javascript"
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByibTF5ug90yYdUY_fDPK3EacovREQ5Cw&libraries=places")

      script(src="js/jr-app.js")