.jr-form
  background url("//d1lk4k9zl9klra.cloudfront.net/web/international/AU/site/bg.jpg") no-repeat center center
  //background url("/img/bg.jpg") no-repeat center center
  background-size cover
  height 550px

  .title
    text-align center
    margin 80px auto 20px auto
    color white
    font-weight 300

    @media (min-width: 768px)
      margin 150px auto 20px auto
      width 618px
      background url("//d1lk4k9zl9klra.cloudfront.net/web/international/sprites/jayride-msg-sprite.png?553") -1px -265px
      //background url("/img/jayride-msg-sprite.png") -1px -265px
      background-repeat no-repeat
      text-indent 100%
      white-space nowrap
      overflow hidden

  .tab-content
    border: 1px solid #ccc
    border-top: 0
    border-radius: 3px
    border-top-left-radius: 0
    padding: 20px
    padding-bottom: 12px
    background: rgba(255,255,255,.9)

  .nav-tabs
    li
      margin-right 5px

    a
      text-decoration none
      color #777
      font-size 13px
      border-radius 3px 3px 0 0
      border-top 3px solid #ccc
      background #ccc
      text-align center
      margin-right 0
      font-weight 300
      padding 10px

      @media (min-width: 768px)
        width 170px
        font-weight 600


    .active
      a, a:focus, a:hover
        color #222
        border-top 3px solid #65c816
        border-left 1px solid #ccc
        border-right 1px solid #ccc
        background rgba(255,255,255,.9)

  .form-group
    width 100%

    input, label
      display block
      width 100%

    label
      font-weight 300
      margin-bottom 0px

  .form-control
    padding-left 20px

  //TODO: move this style to some shared place, not component specific
  .form-icon
    position absolute
    top 31px
    left 18px
    z-index 2
    display block
    line-height 34px
    text-align center

    width 14px
    height 14px
    background url("//d1lk4k9zl9klra.cloudfront.net/web/international/sprites/jayride-icon-sprite.png?556") -1px -1px
    //background url("/img/jayride-icon-sprite.png")

  .jr-icon-map-pin
    background-position -1px -1px

  .jr-icon-plane
    background-position -1px -4036px

  .tip
    font-size x-small

  .twitter-typeahead
    width: 100%

    .tt-suggestion:before
      display block
      content " "
      width 14px
      height 14px
      background url("//d1lk4k9zl9klra.cloudfront.net/web/international/sprites/jayride-icon-sprite.png?556") -1px -1px
      //background url("/img/jayride-icon-sprite.png")
      background-position -1px -4036px
      position absolute
      left 3px
      margin-top 8px