section.jr-form
    .container
        .row
            .col-xs-12
                h1.title {{::vm.formData.title}}

        .row
            .col-xs-12

                ul.nav.nav-tabs
                    li(ng-class="{'active': item.isActive}"
                        ng-repeat="item in ::vm.formData.tabs")
                        a(href='#' ng-click='vm.chooseTab(item)') {{::item.label}}

                .tab-content

                    form.form-inline(ng-submit="vm.submitForm()" name="requestForm" novalidate)
                        .row(ng-show="vm.currentTab.id === 'fromAirport'")
                            .col-xs-12.col-sm-5
                                .form-group
                                    label(for="from") {{::vm.formData.labels.fromAirport}}
                                    span.form-icon.jr-icon-plane
                                    input#from-airport.form-control(type="text"
                                    ng-model="vm.formModel.fromAirport.from"
                                    ng-focus="fromAirportFocus = true"
                                    ng-blur="fromAirportFocus = false"
                                    required
                                    placeholder="{{::vm.formData.labels.airportPlaceholder}}")
                                    span.tip(ng-if="fromAirportFocus") {{::vm.formData.labels.airportTip}}
                            .col-xs-12.col-sm-4
                                .form-group
                                    label(for="to-place") {{::vm.formData.labels.toPoint}}
                                    span.form-icon.jr-icon-map-pin
                                    input#to-place.form-control(type="text"
                                    ng-model="vm.formModel.fromAirport.to"
                                    ng-focus="toPlaceFocus = true"
                                    ng-blur="toPlaceFocus = false"
                                    required
                                    placeholder="{{::vm.formData.labels.pointPlaceholder}}")
                                    span.tip(ng-if="toPlaceFocus") {{::vm.formData.labels.pointTip}}
                            .col-xs-12.col-sm-3
                                .form-group
                                    button.btn.btn-jr(type="submit") {{::vm.formData.submitLabel}}

                        .row(ng-show="vm.currentTab.id === 'toAirport'")
                            .col-xs-12.col-sm-5
                                .form-group
                                    label(for="from") {{::vm.formData.labels.fromPoint}}
                                    span.form-icon.jr-icon-map-pin
                                    input#from-place.form-control(type="text"
                                    ng-model="vm.formModel.toAirport.from"
                                    required
                                    placeholder="{{::vm.formData.labels.pointPlaceholder}}")
                            .col-xs-12.col-sm-4
                                .form-group
                                    label(for="to") {{::vm.formData.labels.toAirport}}
                                    span.form-icon.jr-icon-plane
                                    input#to-airport.form-control(type="text"
                                    ng-model="vm.formModel.toAirport.to"
                                    required
                                    placeholder="{{::vm.formData.labels.airportPlaceholder}}")
                            .col-xs-12.col-sm-3
                                .form-group
                                    button.btn.btn-jr(type="submit") {{::vm.formData.submitLabel}}