.jr-suppliers
  .title
    padding-top 35px
  .supplier
    margin: 0 auto
    width 192px
    height 100px
    background url("//d1lk4k9zl9klra.cloudfront.net/web/international/sprites/jayride-supplier-logo-sprite.jpg?548")
    //background url("/img/jayride-supplier-logo-sprite.jpg")

  .club-class
    background-position -1px -1px

  .airport-king
    background-position -1px -1112px

  .air-bus
    background-position -1px -2223px

  .heathrow-shuttle
    background-position -1px -2425px

  .bath
    background-position -1px -2526px

  .active-response
    background-position -1px -2627px

  .taxi
    background-position -1px -2728px

  .saville-exclusive-cars
    background-position -1px -2829px

  .conxion
    background-position -1px -2930px

  .airport-specialists-cars
    background-position -1px -102px

  .etm-cars
    background-position -1px -304px

  .super-shuttle
    background-position -1px -405px

  .newmarket-airport-taxis
    background-position -1px -506px

  .capital-cars
    background-position -1px -607px