article.jr-suppliers
    .row
        .col-xs-12
            h3.title {{::vm.suppliersData.title}}
    .row
        .col-xs-12.col-sm-3.text-center(ng-repeat="item in vm.suppliersData.suppliers")
            .supplier(class="{{::item.iconClass}}")