.jr-user-menu
    div(ng-if="vm.isAuthenticated")
        .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                img.img-circle(ng-src="{{vm.userProfile.picture}}")
                span.user-name {{::vm.userProfile.name}} 
                span.caret
            ul.dropdown-menu
                //li
                    a(href='#') Profile
                //li.divider(role='separator')
                li
                    a(href='' ng-click="vm.logout()") Sign out
    div(ng-if="!vm.isAuthenticated")
        a.btn.btn-default(type='button' ui-sref="app.login") Sign in | Sign up