.jr-user-menu
  img
   	width 24px
    height 24px
  .user-name
    padding-left 5px
    max-width 100px
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
    display inline-block
    line-height 10px