header.jr-header
    .container
        nav
            .row
                .col-xxs-12.col-xs-4.col-sm-2
                    a(href="/")
                        .brand {{::vm.headerData.title}}
                .hidden-xs.col-sm-5
                    .slogan {{::vm.headerData.slogan}}
                .col-xxs-6.col-xs-4.col-sm-3
                    .help-menu
                        span.hidden-xs {{::vm.headerData.help.label}}
                        span.icon(class="{{::vm.headerData.help.iconClass}}")
                        a.link {{::vm.headerData.help.link}}
                .col-xxs-6.col-xs-4.col-sm-2
                    .domain.pull-right
                        //.btn-group
                            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                span.icon(class="{{vm.currentDomain.iconClass}}")
                                span {{vm.currentDomain.label}}
                                span.caret

                            ul.dropdown-menu
                                li(ng-repeat="item in ::vm.headerData.domains")
                                    a(href='#' ng-click="vm.chooseDomain(item)")
                                        span.icon(class="{{::item.iconClass}}")
                                        span {{::item.label}}

                        jr-user-menu