.jr-header
  height 130px
  padding 5px 0px

  @media (min-width: 520px)
    height 80px

  .brand
    text-indent 200%
    white-space nowrap
    overflow hidden
    background url("//d1lk4k9zl9klra.cloudfront.net/web/international/common/site/jayride-logo-120x70.png") no-repeat
    //background url("/img/jayride-logo-120x70.png") no-repeat
    height 70px
    width 120px
    margin-left -10px

    //@media (max-width: $screen-xs)
    @media (max-width: 520px)
      margin 0 auto

  .help-menu, .slogan, .domain
    margin-top 5px

    @media (min-width: 520px)
      margin-top 20px

  .slogan
    white-space nowrap
    overflow hidden
    display inline-block
    vertical-align middle
    margin-right 10px

    @media (min-width: 992px)
      background url("//d1lk4k9zl9klra.cloudfront.net/web/international/sprites/jayride-msg-sprite.png?553") -1px -160px
      //background url("/img/jayride-msg-sprite.png") -1px -160px
      text-indent 200%
      width 370px
      height 25px

  .help-menu
    color #999

    .link
      text-decoration none
      border-bottom 1px dotted #666
      color #333
      cursor pointer

    .icon
      width 15px
      height 12px
      display inline-block
      background url("//d1lk4k9zl9klra.cloudfront.net/web/international/sprites/jayride-icon-sprite.png?556")
      //background url("/img/jayride-icon-sprite.png")
      margin 0 8px

    .icon-envelop
      background-position -1px -526px

  .domain
    .dropdown-menu
      right 0
      left inherit
    .icon
      vertical-align middle
      width 30px
      height 30px
      display inline-block
      background: url("//d1lk4k9zl9klra.cloudfront.net/web/international/sprites/jayride-icon-sprite.png?556")
      //background: url("/img/jayride-icon-sprite.png")

    .flag-au
      background-position -1px -27px

    .flag-ie
      background-position -1px -58px

    .flag-nz
      background-position -1px -89px

    .flag-uk
      background-position -1px -120px

    .flag-us
      background-position -1px -151px
