.jr-trust

  .quote
    &--text
      color black
    &--author
      display block
      color gray

  .book-with-us-reasons
    padding 0px
    margin 0px
    list-style-type none
    position relative

    &--item
      padding-left 20px

      &:before
        display block
        content " "
        width 15px
        height 15px
        background url("//d1lk4k9zl9klra.cloudfront.net/web/international/sprites/jayride-icon-sprite.png?556")
        //background url("/img/jayride-icon-sprite.png")
        background-position -1px -782px
        position absolute
        left 0px

  .summary
    padding-top 40px