article.jr-trust
    .row
        .col-xs-12.col-sm-8
            h3.title {{::vm.trustData.testimonialsTitle}}

            p.quote(ng-repeat="item in vm.trustData.testimonials")
               q.quote--text {{::item.text}}
               span.quote--author - {{::item.author}}

            jr-usp(type='footer')

        .col-xs-12.col-sm-4
            h3.title {{::vm.trustData.bookWithUsTitle}}

            ul.book-with-us-reasons
                li.book-with-us-reasons--item(ng-repeat="item in vm.trustData.bookWithUsReasons") {{::item}}

            p.summary {{::vm.trustData.bookingWithUsSummary}}
