article.jr-usp(ng-class="{'footer': type==='footer'}")
    .row
        .col-xs-12.col-sm-4(ng-repeat="item in ::vm.uspData")
            .jr-usp--item
                .usp-icon(class="{{::item.iconClass}}")
                h3(ng-if='::item.title') {{::item.title}}
                p.description {{::item.description}}