.jr-usp
  border-bottom 1px #bbb dashed
  padding 35px 0

  &--item
    text-align center

    .usp-icon
      width 165px
      height 165px
      background: url("//d1lk4k9zl9klra.cloudfront.net/web/international/sprites/jayride-icon-sprite.png?556")
      //background: url("/img/jayride-icon-sprite.png")
      margin 0 auto

    .reliable-transport
      background-position -1px -1959px

    .every-destination
      background-position -1px -1295px

    .book-instantly
      background-position -1px -1793px

    .refund-guarantee
      background-position -1px -2671px

    .price-guarantee
      background-position -1px -2595px

    .instant-confirmation
      background-position -1px -2747px

.jr-usp.footer
  background-color white
  border-radius 4px
  border-bottom none
  text-align left
  padding 10px 0

  .jr-usp--item
    text-align left
    padding 0 20px

    .usp-icon
      width 75px
      height 75px
      float left
      marging-right 10px

    .description
      padding-top 20px
