
.btn-jr
  width 100%
  margin-top 20px //component spesific style

  text-transform uppercase
  background-image linear-gradient(to bottom, #6ac61b 0%, #509c14 100%)
  background-repeat repeat-x
  border 1px solid #004600
  font-weight bold
  color white
.btn-jr:hover
  background-image linear-gradient(to bottom, #509c14 0%, #6ac61b 100%)

