/*
.tt-query,  .tt-hint
  width 396px
  height 30px
  padding 8px 1px
  //font-size 24px
  line-height 30px
  border 2px solid #ccc
  border-radius 8px
  outline none
*/

.tt-query
  box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)

.tt-hint
  color #999

.tt-menu
  width 100%
  margin-top 2px
  background-color #fff
  border 1px solid #ccc
  border 1px solid rgba(0, 0, 0, 0.2)
  border-radius 3px
  box-shadow 0 5px 10px rgba(0,0,0,.2)

.tt-suggestion
  padding 3px 25px
  white-space nowrap
  text-align left
  line-height 30px
  border-top 1px solid #e6e6e6
  font-size 13px
  overflow hidden
  text-overflow ellipsis

.tt-suggestion:hover
  background-color #fafafa
